<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>
	<ui:insert name="metadata" />
	<h:head>
		<title>Versicherungsvertragsverwaltung</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</h:head>
	<h:body>
		<h:outputStylesheet library="css" value="style.css" />
		<h:panelGroup id="page" layout="block" style="width:800px">
			<h:panelGroup id="header" layout="block">
				<h1>
					<a href="index.html">Versicherungsvertragsverwaltung</a>
				</h1>  
				powered by <a href="http://activiti.org">Activiti</a>, <a
					href="http://www.camunda.com/fox">camunda fox</a> and Java EE 6. <br />
				<hr />

			</h:panelGroup>
			<h:panelGroup id="container" layout="block">
				<h:panelGrid columns="2">
					<h:panelGroup id="content" layout="block" style="width:600px">
						<h:messages />
						<ui:insert name="content">Main Content</ui:insert>
					</h:panelGroup>
					<h:panelGroup>
						<h1>Navigation</h1>
						<ul>
							<li><a href="taskList.jsf">Arbeitskorb (Taskliste)</a></li>
						</ul>
						<ul>
							<li><a href="neuerAntrag.jsf">Neuen Antrag stellen</a></li>
						</ul>
					</h:panelGroup>
				</h:panelGrid>
			</h:panelGroup>
			<h:panelGroup id="footer" layout="block">
				<hr />
			</h:panelGroup>
		</h:panelGroup>
	</h:body>
</f:view>
</html>
