<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="WEB-INF/templates/template.xhtml">
	<ui:define name="content">

		<!-- Accordion -->
		<div id="accordion">
			<div>
				<h3><a href="#">Start with upload</a></h3>
				<div>
					<FORM ENCTYPE="multipart/form-data" ACTION="startByUpload" METHOD="POST">
			    		<table>
			    			<tr>
			    				<td>Invoice (PDF): </td>
			    				<td><INPUT NAME="userfile1" TYPE="file"/></td>
			    			</tr>
			    			<tr>
			    				<td>Amount of process instances: </td>
			    				<td><input name="numberOfInstances" type="text" value="1"/></td>
			    			</tr>
			    		</table>
			    	<INPUT TYPE="submit" VALUE="Start process"/>
					</FORM>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
