<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="taskId" />
			<f:event type="preRenderView" listener="#{businessProcess.startTask(taskId, true)}" />
		</f:metadata>		
	</ui:define>
	
	<ui:define name="content">		
		<h1>#{task.name}</h1>
		Lieber Sachbearbeiter. Du musst jetzt ein Vertragsdokument erstellen fuer:
		<table>
				<tr>
					<td>Name des Kunden:</td>
					<td>#{processVariables['vorname']} #{processVariables['nachname']}</td>
				</tr>
				<tr>
					<td>Baujahr des Fahrzeuges:</td>
					<td>#{processVariables['kfzBaujahr']}</td>
				</tr>
				<tr>
					<td>Kaufpreis des Fahrzeuges:</td>
					<td>#{processVariables['kfzKaufpreis']}</td>
				</tr>
				<tr>
					<td>Erstbesitzer?</td>
					<td>#{processVariables['kfzErstbesitzer']?'ja':'nein'}</td>
				</tr>				
			</table>
		<p />
		Der Kunde hat eine monatliche Rate von #{angebot.monatsbeitrag} akzeptiert.
		<p />
		<h:form>
			<h:commandButton value="Fertig" action="#{businessProcess.completeTask(true)}" />
		</h:form>
	</ui:define>
</ui:composition>
