<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="WEB-INF/templates/template.xhtml">
	<ui:define name="content">

		<!-- Accordion -->
		<div id="accordion">
			<div>
				<h3><a href="#">Start &#252;ber Upload-Servlet</a></h3>
				<div>
					<FORM ENCTYPE="multipart/form-data" ACTION="startByUpload" METHOD="POST">
			    		<table>
			    			<tr>
			    				<td>Rechnung (PDF): </td>
			    				<td><INPUT NAME="userfile1" TYPE="file"/></td>
			    			</tr>
			    			<tr>
			    				<td>Anzahl Prozessinstanzen: </td>
			    				<td><input name="numberOfInstances" type="text" value="1"/></td>
			    			</tr>
			    			<tr>
			    				<td>Verwendeter Demo-Prozess: </td>
			    				<td>
			    					<select name="demoProcess">
									  <option value="fox-invoice">fox-invoice</option>
									  <option value="adonis-invoice">adonis-invoice</option>
									</select>
								</td>	    							    				
			    			</tr>
			    		</table>
			    	<INPUT TYPE="submit" VALUE="Prozess starten"/>
					</FORM>
				</div>
			</div>			
			<div>
				<h3><a href="#">Start &#252;ber Bean (deprecated, weil ohne PDF)</a></h3>
				<div>
					<h:form>
						Anzahl: <h:inputText value="#{batchStarter.amount}" /><br/> 
						<h:commandButton action="#{batchStarter.startInstancesByKey()}" value="Prozess starten" />
					</h:form>				
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
