<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="WEB-INF/templates/template.xhtml">
	<ui:define name="content">
		<h:form>
		<!--  User Switch -->
		<table>
			<tr>
			<td><img width="50" src="./userPicture?user=#{taskListController.currentUser}"/></td>
			<td style="vertical-align:top;">
				Demo-Prozess:<br/>
				<h:selectOneMenu value="#{taskListController.currentDemoProcess}">
					<f:selectItems value="#{taskListController.demoProcessesList}" var="demoProcess" itemLabel="#{demoProcess}" itemValue="#{demoProcess}"></f:selectItems>
					<f:ajax render="@form" ></f:ajax>
				</h:selectOneMenu><br/>			
				Demo-User:<br/>
				<h:selectOneMenu value="#{taskListController.currentUser}">
					<f:selectItems value="#{taskListController.usersList}" var="v_user" itemLabel="#{v_user.id}" itemValue="#{v_user.id}"></f:selectItems>
					<f:ajax render="@form" ></f:ajax>
				</h:selectOneMenu><br/>			
			</td>
			</tr>			
		</table>
		<!--  List Switch -->
		<h:panelGrid columns="2" columnClasses="cam-td, cam-td-2">
				<h:panelGroup>
				<h2>Task-Listen</h2>
					<ul>
						<li>
							<h:commandLink action="#{taskListController.setCurrentGroup(null)}" value="Meine Aufgaben (#{taskListController.personalTaskListCount})">
								<f:ajax render="@form" />
							</h:commandLink>
						</li>
					 </ul>
					 <ul>
						<ui:repeat var="group" value="#{taskListController.groupsList}">
							<li>
								<h:commandLink action="#{taskListController.setCurrentGroup(group.id)}" value="#{group.name} (#{taskListController.getGroupTaskListCount(group.id)})">
									<f:ajax render="@form" />
								</h:commandLink>
							</li>					
						</ui:repeat>
					</ul>								
				</h:panelGroup>
				<h:panelGroup >
					<h:panelGroup rendered="#{!taskListController.currentGroup.equals('')}">
						<h2>Aufgaben f&#252;r #{taskListController.currentGroup}</h2>
					</h:panelGroup>
					<h:panelGroup rendered="#{taskListController.currentGroup.equals('')}">
						<h2>Meine Aufgaben (#{taskListController.currentUser})</h2>
					</h:panelGroup>
					<h:panelGroup rendered="#{!taskListController.hasTasks}">
						<div class="ui-widget">
							<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
								<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em; "></span>
								<strong>Nix zu tun!</strong> Entspann Dich.</p>
							</div>
						</div>
					</h:panelGroup>
		<!--  Actual Task List -->					
					<h:dataTable width="800px" id="tasklist" value="#{taskListController.taskList}" var="task" rendered="#{taskListController.hasTasks}">
						<h:column>
							<f:facet name="header">Id</f:facet>
							#{task.id}
						</h:column>
						<h:column>
							<f:facet name="header">Aufgabe</f:facet>
							#{task.name}
						</h:column>	
						<h:column>
							<f:facet name="header">Beschreibung</f:facet>
							#{task.description}
						</h:column>	
						<h:column>
							<f:facet name="header">Aufgabe erhalten</f:facet>
							 <h:outputText value="#{task.createTime}" >
              					<f:convertDateTime pattern="dd.MM.yyyy HH:mm" /> 
 							 </h:outputText>
							 Uhr
						</h:column>
						<h:column>
							<f:facet name="header">Deadline</f:facet>
						</h:column>
						<h:column>
							<f:facet name="header">Aktion</f:facet>							
							<h:outputLink 
								rendered="#{task.assignee eq taskListController.currentUser}"
								value="#{taskListController.getFormKey(task)}.jsf?taskId=#{task.id}">bearbeiten...</h:outputLink>
							<h:commandLink 
								rendered="#{task.assignee != taskListController.currentUser}"
								action="#{taskListController.claim(task)}"
								value="claim">
								<f:ajax render="@form" />	
							</h:commandLink>
						</h:column>					
					</h:dataTable>
					</h:panelGroup>

<!-- some layouting and javascript for the table -->
	 <script type="text/javascript">                                         
	 $(document).ready(function() {
			    oTable = $('#j_idt32\\:tasklist').dataTable({
			        "bJQueryUI": true,
			        "bPaginate": true
			    });

	 } );
  	 var processEvent = function processEvent(data) {
     }		
  	 jsf.ajax.addOnEvent(processEvent);
	 </script>
				
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
