<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Demo: Receive Invoice</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<h:outputStylesheet name="css/start/jquery-ui-1.8.16.custom.css" />
	<h:outputStylesheet name="css/start/demo_page.css" />
	<h:outputStylesheet name="css/start/demo_table.css" />
	<h:outputStylesheet name="css/start/demo_table_jui.css" />
	<h:outputStylesheet name="css/start/camunda.css" />

			<style type="text/css">
			/*demo page css*/
			body{ font: 80% "Trebuchet MS", sans-serif; margin: 50px;}
			.demoHeaders { margin-top: 2em; }
			#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
			#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
			ul#icons {margin: 0; padding: 0;}
			ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
			ul#icons span.ui-icon {float: left; margin: 0 4px;}
		</style>	
	<h:outputScript name="js/jquery-1.6.2.min.js"/>
	<h:outputScript name="js/jquery-ui-1.8.16.custom.min.js"/>
	<!-- <h:outputScript name="js/jquery.ui.datepicker-en.js"/> -->
	<h:outputScript name="js/jquery.dataTables.min.js"/>

	
	 <script type="text/javascript">                                         
		$(function(){

			// Accordion
			$( "#accordion" ).accordion({ 
				header: "h3", 
				autoHeight: false,	
				navigation: true
			});
			// Tabs
			$( "#tabs" ).tabs({
				ajaxOptions: {
					error: function( xhr, status, index, anchor ) {
						$( anchor.hash ).html(
							"Couldn't load this tab. We'll try to fix this as soon as possible. " +
							"If this wouldn't be a demo." );
					}
				}
			});			

			// Dialog			
			$('#dialog').dialog({
				autoOpen: false,
				width: 600,
				buttons: {
					"Ok": function() { 
						$(this).dialog("close"); 
					}, 
					"Cancel": function() { 
						$(this).dialog("close"); 
					} 
				}
			});
			
			// Dialog Link
			$('#dialog_link').click(function(){
				$('#dialog').dialog('open');
				return false;
			});

			// Datepicker
			$('#datepicker').datepicker({
				inline: true
			});
			
			// Slider
			$('#slider').slider({
				range: true,
				values: [17, 67]
			});
			
			// Progressbar
			$("#progressbar").progressbar({
				value: 20 
			});
			
			//hover states on the static widgets
			$('#dialog_link, ul#icons li').hover(
				function() { $(this).addClass('ui-state-hover'); }, 
				function() { $(this).removeClass('ui-state-hover'); }
			);
			
		});
	 </script>
</h:head>
<h:body>

	<h:panelGroup id="page" layout="block">
		<h:panelGroup id="header">			
			<h1>Demo: Receive Invoice</h1>					
		</h:panelGroup>

		<h:panelGroup>
			<h:form>
				<h:outputLink value="taskList.jsf">Task list</h:outputLink> | 			
				<h:outputLink value="startwas.jsf">Start</h:outputLink> | 			
				<h:outputLink value="myuser.jsf">User-Infos</h:outputLink>  			
			</h:form>			
		</h:panelGroup>	
		<hr />	
		<h:panelGroup id="container" layout="block">		
			<h:panelGroup>	
				<h:panelGroup id="content" layout="block">
					<h:messages globalOnly="true"/>
					<ui:insert name="content">Main Content</ui:insert>
				</h:panelGroup>
			</h:panelGroup>
			<h:panelGroup id="footer" layout="block">
				<hr />
				powered by <a href="http://www.camunda.com/fox">camunda fox</a>
			</h:panelGroup>
		</h:panelGroup>		
	</h:panelGroup>

</h:body>
</html>
