<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/template.xhtml">	
<ui:define name="content">

	<h2>#{task.name}</h2>
	
    <p>Enter additional data for customer: #{customer.firstName} #{customer.lastName}</p>
	<h:form>
		<table>
				<tr>
					<td style="font-weight: bold;">Company details:</td>
					<td><h:inputTextarea id="company" value="#{customer.companyDetails}" /></td>
					<td><h:message id="company_error" for="company" errorClass="invalid" /></td>
				</tr>
				<tr>
				    <td />
					<td><h:commandButton action="#{businessProcess.completeTask()}" value="done" type="submit" /></td>
				</tr>
		</table>
	</h:form>
</ui:define>
</ui:composition>
